<!DOCTYPE html>

<%- include ('../partials/head'); %>


    <html lang="en">

    <body class="container">

        <%- include ('../partials/header'); %>

            <main>
                <div class="jumbotron">
                    <h1>
                        Sobre mim
                    </h1>
                    <p>
                        Oi, eu sou João Pedro Jurema e este é um exercício de EJS da Rocketseat!
                    </p>
                </div>
            </main>

            <%- include ('../partials/footer'); %>

    </body>

    </html>